.funding {
  background-color: rgb(26, 26, 92);
  color: white;
  height: auto;
  width: 100%;
  padding: 5% 0;
}

.funding > p {
  font-size: var(--head2);
  letter-spacing: 2px;
  line-height: 2;
  width: 70%;
  margin: 0 auto;

}
.funding span {
  color: var(--yellow);
}
.usefulDownloads {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 5% 0;
  gap: 8rem;
}
.usefulImg {
  flex: 50%;
  text-align: right;
}
.usefulImg img {
  width: 60%;
  height: 30%;
}
.usefulDownloads .links {
  flex: 50%;
  letter-spacing: 3px;
  font-family: var(--font-family-1);
  
}
.usefulDownloads .links > h1 {
  font-size: var(--head2);
  color: var(--blue);
}
.usefulDownloads .links >.link,.usefulLinks
 {
  font-size: var(--parah);
  text-align: left;
  font-family: var(--font-family-2);
}
.links .link {
  color: rgb(94, 94, 197);
}
.links .link:hover {
  color: var(--yellow);
}
.icon3 {
  cursor: pointer;
  padding-right: 1rem;
}

@media only screen and (max-width: 1024px) {
  .funding {
    padding: 3rem;
  }
  .funding p {
    font-size: 1.5rem;
  }
  .usefulDownloads {
    display: block;
    margin-bottom: 2rem;
  }
  .usefulImg {
    text-align: center;
    padding: 2rem;
  }
  .usefulImg img {
    width: 60%;
  }
  .links {
    flex: 100%;
    text-align: center;
  }
  .links h1 {
    font-size: 1.5rem;
  }
  .links a,
  p {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 500px) {
  .funding p {
    font-size: 0.8rem;
  }
}
