.fees {
  width: 100%;
  background-color: #ebeaea61;
  overflow: hidden;
  
}
.fees img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}
.feeTable {
  padding: 5rem 0;
  font-family: var(--font-family-1);
}
.feeTable h1 {
  text-align: center;
  font-size: var(--head1);
  color: #1f0e5f;
  letter-spacing: 5px;
 
}
table {
  overflow: hidden;
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto;
}
th {
  height: 3rem;
}

th,
td {
  text-align: left;
  padding: 8px;
  

}

th {
  background-color:  var(--beige);
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: var(--beige);
}

td {
  border-bottom: 1px solid #ddd;
}
.head {
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .responsive thead {
    display: none;
    height: 0;
    position: absolute;
  }
  .head {
    background-color: var(--yellow);
  }
  .responsive tr {
    display: block;
    margin-bottom: 0.6em;
    color: var(--maroon);
    font-weight: 600;
  }

  .responsive td {
    border: 1px solid;
    border-bottom: none;
    display: block;
    font-size: var(--link);
    text-align: right;

  }

  .responsive td::before {
    content: attr(data-label);
    float: left;
    color: var(--blue);
    font-weight: 500;
    text-align: left;
  }

  .responsive td:last-child {
    border-bottom: 1px solid;
  }
}

/* uniform========================================================== */
.uniform {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding: 5rem 0;
}
.uniform h1 {
  font-size: var(--head1);
  letter-spacing: 5px;
  color: #1f0e5f;
}
.uniform h2 {
  font-size: var(--head2);
  letter-spacing: 5px;
  color: var(--maroon);
}
.feesLine {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 50%;
}
.uniformList {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  background-color: var(--beige);
  padding: 3rem 5rem;
}
.uniformList h2 {
  font-size: var(--head2);
  color: #402f7e;
}
.uniformList ol > li {
  font-size: var(--parah);
  text-align: left;
  list-style: circle;
  color: #0e0728;
}

@media only screen and (max-width: 1024px) {
  .feeTable h1 {
    text-align: center;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .uniform {
    width: 80%;
    padding: 0 1rem;
    margin: 3rem auto;
  }
  .fees img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .uniformList {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .uniform h1 {
    font-size: 2rem;
  }
  .uniform h2 {
    font-size: 1.5rem;
  }
  .uniformList h2 {
    font-size: 1rem;
  }
  .uniformList ol li {
    font-size: 0.7rem;
  }
}
