.teachersCard{
    width: 100%;
}

.teachersCard h2 {
    font-family: var(--font-family-1);
    font-size: var(--head3);
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.teachersCard p .title{
    font-size: var(--parah);
    font-weight: 900;
    color: grey;
}
.teachersCard p {
    font-size: var(--parah);
    font-weight: 600;
    color: var(--maroon);
}

.teachersCard img{
    height: 19rem;
    width: 14rem;
    object-fit: cover;
}
