* {
  /* outline: 1px solid rgb(121, 242, 57); */
}

@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Vibur&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Raleway:ital,wght@0,300;1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap");

:root {
  --font-family-1:"Cinzel", serif;
  --font-family-2:"Montagu Slab", serif;
  --blue: #1b0853;
  --yellow: #daab2b;
  --beige: #b37c0d1e;
  --maroon:#980e0e;
  --head1: 3rem;
  --head2: 2rem;
  --parah: 1rem;
  --link: 0.7rem;
}
/* --font1:var(--font-family-1);
  --font2:var(--font-family-2)
  --maroon:#980e0e; */
body {
  font-family:var(--font2) ;
}
.loading {
  /* filter: blur(10px); */
  clip-path: inset(0);
}
.loaded {
  /* filter: blur(0px); */
  transition: filter 0.5s linear;
}
